/* ================================= 
  Base Element Styles
==================================== */



.headingbox{

	font-size    : 1.5em;
	line-height  : 1.25em;
	margin-top   : .85em;
	margin-bottom: .5em;
}
.para {

	font-size  : .875em;
	line-height: 1.4;
	margin     : 0 0 1.5em;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container,
.content {
	
	margin: auto;
}
.container {
	width           : 94.02985075%;
	max-width       : 1920px;
	padding         : 0 2.25em 4em;
	background-color: rgba(201, 76, 76, 0);
}
.main-header {

	text-align: center;
	padding: 2.8em 0 3.8em;
}
.cube-container {
	
	max-width: 200px;
	text-align: center;
	margin: 0 auto 4.5em;
}
/* ---- Page Elements ---- */

.name {
	
	font-size: 1.65em;
	font-weight: 800;
	margin: 0 0 1.5em;
	line-height: 1;
}
.name span {
	font-weight: 300;
	margin-left: -7px;
}
.logo {
	
	width: 45px;
	margin-bottom: .4em;
	cursor: pointer;
}
.button {
	
	font-size: .8em;
	color: #39398f;
	width: 90%;
	line-height: 1.15;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: .95em 0;
	border-radius: .5em;
	background:white;
	margin: auto;
}
/* ---- Photo Overlay ---- */

.photo-desc {
	
	font-size: .85em;
	color: #fff;
	padding: 1.1em 1em 0;
	 background: rgb(52,58,144);
background: linear-gradient(138deg, rgba(52,58,144,1) 0%, rgba(225,20,113,1) 51%, rgba(245,74,57,1) 87%);
}
/* ---- Float clearfix ---- */

.clearfixs::after {
	
	content: "";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.cube-container {
		float: left;
		margin-left: 16.6%;
	}
}
@media (min-width: 1025px) {
	.cube-container:first-child {
		margin-left: 0;
	}
	.cube-container:last-child{
		float: right;
	}
	.content {
		max-width: 900px;
		margin: auto;
	}
}

/* ================================= 
  Button Transitions
==================================== */

.button {
	transition: background .3s;
}
.button:hover {
	color: #de1572;
}

/* ================================= 
  Photo 3D Transforms & Transitions
==================================== */

.cube-container {
	
	box-shadow: 0 18px 40px 5px rgba(0,0,0,.4);
  perspective: 800px;
}

.photo-cube {
	
transition: transform 2s ease-in-out; 
  width: 220px;
  height: 200px;
  transform-style: preserve-3d;
}

.photo-cube:hover {
	
transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
width: 100%;
height: 100%;
display: block;
position: absolute;

}

.front {
transform: translate3d(0,0,110px);
}

.back {
transform: translateZ(-110px) rotateY(270deg);
  transform-origin: center left;
}

.left {
transform: rotateY(-270deg) translate3d(110px, 0, 0);
  transform-origin: top right;
}

.right {
transform: translateZ(-110px) rotateY(180deg);
 }